YOUTUBE_API_KEY=
YOUTUBE_BASE_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_CONNECT_TIMEOUT_SECONDS=3
YOUTUBE_READ_TIMEOUT_SECONDS=5

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GEMINI_API_KEY=

POSTGRES_URL=jdbc:postgresql://localhost:5432/mztrend
POSTGRES_USERNAME=mztrend
POSTGRES_PASSWORD=mztrend

REDIS_URL=redis://localhost:6379

APP_LOCAL_DATA_ENABLED=false
