YOUTUBE_API_KEY=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GEMINI_API_KEY=

POSTGRES_URL=jdbc:postgresql://localhost:5432/mztrend
POSTGRES_USERNAME=mztrend
POSTGRES_PASSWORD=mztrend

REDIS_URL=redis://localhost:6379
